Source: ros-indigo-concert-resource-pool
Section: misc
Priority: extra
Maintainer: Jack O'Quin <jack.oquin@gmail.com>
Build-Depends: debhelper (>= 9.0.0), python-catkin-pkg, ros-indigo-catkin, ros-indigo-concert-msgs, ros-indigo-rocon-app-manager-msgs, ros-indigo-roslint, ros-indigo-rospy, ros-indigo-rostest, ros-indigo-rosunit, ros-indigo-scheduler-msgs, ros-indigo-unique-id
Homepage: http://wiki.ros.org/concert_resource_pool
Standards-Version: 3.9.2

Package: ros-indigo-concert-resource-pool
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-yaml, ros-indigo-concert-msgs, ros-indigo-rocon-app-manager-msgs, ros-indigo-rocon-std-msgs, ros-indigo-rocon-uri, ros-indigo-rospy, ros-indigo-scheduler-msgs, ros-indigo-unique-id
Description: Python interfaces for managing a pool of ROCON scheduler resources.
